/*Base*/

.btn {
  font-size: 1.25rem;
  width: 161px;
  height: 48px;
  border-radius: 25px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 23px;
}

.btn-outline {
  border: 2px solid #FFFFFF;
  background-color: transparent;
  padding: 10px 20px;
}

.btn-filled {
  background-color: #FFFFFF;
  color: #6329A2;
  padding: 12px 41px;
}

.btn:hover {
  background-color: #6329A2;
  color: #ffffff;
  border-color: #6329A2;
}